*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
project/target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ specific
.idea/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Twin specific
sites/
